body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(darkblue, rgba(255, 0, 0, 0.735));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;    
}

h1#header-title{
    color: aliceblue;
    font-size: 70px;

}

.rock, .paper, .scissors {
    font-size: 30px;
}

.container-sentence {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px;
}


#mid-page {
    display: flex;
    padding: 50px;
    gap: 50px;
    margin: 0;
    
}

.score-part {
    padding: 50px;
    display: flex;
    gap: 300px;
    font-size: 50px;
}

.human, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

